body {
    background-color: #46C3F2;
    overflow-y: hidden;
    overflow-x: hidden;
}
.logo {
    width: 150px;
    height: 60%;
    float: left;
}

.topnav {
    overflow: hidden;
    background-color: #46C3F2;
}
.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 8px;
    text-decoration: none;
    font-size: 100%;
    font-weight: bolder;
}

.topnav a:hover {
    border-bottom: 3px solid orangered;
    color: orangered;
}

.topnav a.active {
    background-color: white;
    color: dodgerblue;
    text-decoration: underline;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #46C3F2;
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
}

.wrapper{ width: 350px; padding: 20px; }

.boldText{
    font-weight: bold;
}